@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background: #1E07A0;
    background-image: url('https://cdn.discordapp.com/attachments/895970995083542538/895989003126444063/Layer_1.png');
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

a{
    color: chartreuse;
}

a:hover{
    color: darkorange;
}

.container{
    width: 100%;
}

header {
    padding: 20px;
    background: rgba(0, 13, 39);
    color: #fff;
}

header h1 {
    margin-bottom: 0;
}

.name{
    background-color: black;
    height: 40px;
    width: 144px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
  
}

.profile{
    display: flex;
    position: absolute;
    right: 9px;
    background-color: black;
    border-radius: 9px;
    padding: 18px;
}

.profile img{
    width: 100px;
    height: auto;
    
}





nav {
    padding: 20px;
    color: #FE8D0D;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
}

.list{
    position: absolute;
    right: 9px;
}

.content {
    min-height: 100px;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;   
}

nav ul li {
    display: block;
    margin-left: 9px;
    right: 9px;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li h2{
    padding: 0;
    margin: 0;
}

nav ul li .active, nav ul li a:hover {
    border-radius: 5px;
    color: #000;
    background: #fff
}

nav ul li .active2, nav ul li a:hover {
    color: #fff;
    background: #FE8D0D
}

.top-10 ol {
    margin: 0;
    padding: 0 20px;
}
footer {
    width:100%;
    height:auto;
    padding: 20px;
    color: #fff;
    background: #FE8D0D;
}
footer .footer-grid{
    display: flex;
    flex-direction: row;
    
}
.footer-content2{
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.footer-content3{
    display: flex;
    margin-left: auto;
    align-items: center;
}
@media screen and (min-width: 900px) {
   

    nav ul li a {
        display: inline-block;
    }

}